* {
  margin: 0;
  padding: 0;
}

* :focus {
  outline: none;
}

@font-face {
  font-family: "CorporateA-Regular";
  src: url("../fonts/CorporateA-Regular.otf");
}

@font-face {
  font-family: "CorporateS-Regular";
  src: url("../fonts/CorporateS-Regular.otf");
}

@font-face {
  font-family: "CorporateS-lite";
  src: url("../fonts/Corporate-Regular-lite.otf");
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

body .width-30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

body .width-40 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

body .width-50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

body .width-60 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

body .wrapper {
  height: 100vh;
  width: 100vw;
}

body .wrapper .header {
  width: 100%;
}

body .wrapper .header img {
  padding: 40px 100px 5px 60px;
}

body .wrapper .tabs-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper .tabs-wrapper ul.tabs {
  padding: 0px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  list-style: none;
  z-index: 99;
  margin-bottom: 25px;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
  font-family: "CorporateS-Regular";
}

body .wrapper .tabs-wrapper ul.tabs li {
  background: transparent;
  color: white;
  display: inline-block;
  padding: 0px 15px 10px 0px;
  cursor: pointer;
  text-align: center;
}

body .wrapper .tabs-wrapper ul.tabs li img {
  max-height: 50px;
  display: block;
  margin: 10px auto;
}

body .wrapper .tabs-wrapper ul.tabs li.current {
  -webkit-transition: none;
  transition: none;
}

body .wrapper .tabs-wrapper ul.tabs li.current ::after {
  content: " ";
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 19px solid #242424;
  display: block;
  margin: 0 auto;
  -webkit-transform: translateY(18px);
          transform: translateY(18px);
}

body .wrapper .tabs-wrapper ul.tabs li.current.postision_fixed {
  -webkit-transform: translateY(18px);
          transform: translateY(18px);
}

body .wrapper .tabs-wrapper ul.tabs li.current.hidden ::after {
  display: none !important;
}

body .wrapper .tabs-wrapper .tab-content {
  display: none;
  background: #242424;
  color: white;
  -webkit-box-shadow: 1px 1px 9px -1px #242424;
          box-shadow: 1px 1px 9px -1px #242424;
}

body .wrapper .tabs-wrapper .tab-content h1 {
  font-family: "CorporateA-Regular";
  font-weight: 400;
  padding-top: 10px;
  font-size: 26px;
}

body .wrapper .tabs-wrapper .tab-content p {
  font-family: "CorporateS-Regular";
  line-height: 19px;
}

body .wrapper .tabs-wrapper .tab-content .general-slides-flex-rules {
  width: 100%;
  padding: 0px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .wrapper .tabs-wrapper .tab-content .left_tab_content {
  height: 100%;
  position: relative;
}

body .wrapper .tabs-wrapper .tab-content .left_tab_content .tiers-buttons {
  bottom: 0;
  width: 100%;
  padding-bottom: 15px;
  padding-top: 30px;
}

body .wrapper .tabs-wrapper .tab-content .left_tab_content .tiers-buttons a {
  text-decoration: none;
  padding: 9px 0px;
  cursor: pointer;
  font-weight: lighter;
  margin-right: 1px;
  display: inline-block;
  font-family: "CorporateS-Regular";
  font-size: 14px;
  text-align: center;
  border: none;
  width: 32%;
  border-radius: 2px;
  color: white;
  background-color: #23acee;
}

body .wrapper .tabs-wrapper .tab-content .lite-text {
  font-family: "CorporateS-lite";
}

body .wrapper .tabs-wrapper .tab-content .right_tab_content img {
  width: 100%;
}

body .wrapper .tabs-wrapper .tab-content .right_tab_content p {
  padding: 10px 15px;
  font-size: 16px;
  line-height: 20px;
}

body .wrapper .tabs-wrapper .tab-content .platinum-slide {
  display: none;
}

body .wrapper .tabs-wrapper .tab-content .platinum-slide .left_tab_content {
  padding: 0px 15px;
}

body .wrapper .tabs-wrapper .tab-content .platinum-slide .left_tab_content .extended-warranty {
  font-weight: lighter;
  letter-spacing: 1px;
}

body .wrapper .tabs-wrapper .tab-content .platinum-slide .right_tab_content {
  background-color: #161616;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper .tabs-wrapper .tab-content .gold-slide {
  display: none;
}

body .wrapper .tabs-wrapper .tab-content .gold-slide .left_tab_content .extended-warranty {
  font-weight: lighter;
  letter-spacing: 1px;
}

body .wrapper .tabs-wrapper .tab-content .gold-slide .right_tab_content {
  background-color: #161616;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper .tabs-wrapper .tab-content .silver-slide {
  display: none;
}

body .wrapper .tabs-wrapper .tab-content .silver-slide .right_tab_content {
  background-color: #161616;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper .tabs-wrapper .tab-content .calculate-slide {
  display: none;
  font-family: "CorporateS-Regular";
}

body .wrapper .tabs-wrapper .tab-content .calculate-slide .left_tab_content .calculator-form {
  margin-top: 20px;
}

body .wrapper .tabs-wrapper .tab-content .calculate-slide .left_tab_content .calculator-form select {
  display: block;
  width: 90%;
  background: transparent;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 20px;
  border: solid white 1px;
  color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

body .wrapper .tabs-wrapper .tab-content .calculate-slide .left_tab_content .calculator-form select option {
  color: white;
  border: none;
  outline: none;
  width: 100px !important;
  background: #242424;
}

body .wrapper .tabs-wrapper .tab-content .calculate-slide .left_tab_content .calculator-form select :focus-visible {
  outline: none !important;
}

body .wrapper .tabs-wrapper .tab-content .calculate-slide .right_tab_content {
  background-color: #161616;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper .tabs-wrapper .tab-content .calculate-slide .calculator-result {
  margin-top: 20px;
  margin-left: 10%;
}

body .wrapper .tabs-wrapper .tab-content .calculate-slide .calculator-result .price-title {
  padding: 10px 0px;
  background-color: black;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: 15px;
}

body .wrapper .tabs-wrapper .tab-content .calculate-slide .calculator-result h6 {
  text-align: center;
  font-size: 16px;
}

body .wrapper .tabs-wrapper .tab-content.current {
  display: inherit;
  height: 70%;
  overflow: auto;
}

body .wrapper .footer {
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body .wrapper .footer .mb-slogan {
  padding: 40px 100px 40px 60px;
}

body .wrapper .footer .mb-slogan h2 {
  color: white;
  font-weight: 400;
}

body .wrapper .footer .mb-logo {
  padding: 20px 100px 20px 60px;
}

body .wrapper .footer .mb-logo img {
  max-height: 80px;
}

@media only screen and (max-width: 700px) {
  body .wrapper .tabs-wrapper ul.tabs {
    padding: 0px;
  }
  body .wrapper .footer .mb-logo {
    padding: 20px 30px 20px 60px;
  }
  body .wrapper .footer .mb-slogan {
    padding: 40px 100px 40px 30px;
  }
  body .wrapper .tabs-wrapper .tab-content .left_tab_content .tiers-buttons {
    position: initial;
    margin-top: 20px;
  }
  body .wrapper .tabs-wrapper .tab-content .general-slides-flex-rules {
    padding: 0px 25px;
  }
}

@media only screen and (orientation: portrait) {
  .wrapper {
    height: 100vw;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@media only screen and (orientation: landscape) {
  .wrapper {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
/*# sourceMappingURL=style.css.map */